@import url(icomoon.scss);

$background-color: #272c43;
$background-lighter: #333957;
$background-darker: #1b1f2f;
$background-gradient: linear-gradient(145deg, #23283c, #2a2f48);

$text-color: #d2d6ef;

$margin: 8px;
$margin-2: 16px;

$bs-outter-lg: 6px 6px 13px;
$bs-inner-lg: -6px -6px 13px;
$bs-outter-sm: 4px 4px 7px;
$bs-inner-sm: -4px -4px 7px;

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.title {
  margin: $margin-2;
}

.configs {
  display: flex;

  &__item {
    margin: $margin-2 $margin;

    &__label {
      text-align: center;
    }

    &__content {
      display: flex;
      align-items: center;
    }

    &__value {
      margin: $margin-2 $margin;
    }
  }
}

.timer {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__value {
    font-size: 3rem;
    font-weight: 300;
  }

  &__value,
  &__state {
    text-align: center;
    text-transform: capitalize;
  }
}

button,
.button {
  background: $background-color;
  color: $text-color;
  border: 0;
  margin: $margin-2 $margin;

  &:hover {
    cursor: pointer;
  }

  &--large {
    font-size: 1.5rem;
    margin: $margin-2;
    width: 64px;
    height: 64px;
    box-shadow: $bs-outter-lg $background-darker,
      $bs-inner-lg $background-lighter;

    &:hover {
      background: $background-gradient;
      box-shadow: $bs-outter-lg $background-darker,
        $bs-inner-lg $background-lighter;
    }

    &:active {
      box-shadow: inset $bs-outter-lg $background-darker,
        inset $bs-inner-lg $background-lighter;
    }
  }

  &--small {
    width: 36px;
    height: 36px;
    box-shadow: $bs-outter-sm $background-darker,
      $bs-inner-sm $background-lighter;

    &:hover {
      background: $background-gradient;
      box-shadow: $bs-outter-sm $background-darker,
        $bs-inner-sm $background-lighter;
    }

    &:active {
      box-shadow: inset $bs-outter-sm $background-darker,
        inset $bs-inner-sm $background-lighter;
    }
  }

  &--rounded {
    border-radius: 8px;
  }

  &--circle {
    border-radius: 50%;
  }
}
