$background-color: #272c43;
$background-lighter: #333957;
$background-darker: #1b1f2f;
$background-gradient: linear-gradient(145deg, #23283c, #2a2f48);

$text-color: #d2d6ef;

$margin: 8px;
$margin-2: 16px;

$bs-outter-lg: 6px 6px 13px;
$bs-inner-lg: -6px -6px 13px;
$bs-outter-sm: 4px 4px 7px;
$bs-inner-sm: -4px -4px 7px;

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.title {
  margin: $margin-2;
}

.configs {
  display: flex;

  &__item {
    margin: $margin-2 $margin;

    &__label {
      text-align: center;
    }

    &__content {
      display: flex;
      align-items: center;
    }

    &__value {
      margin: $margin-2 $margin;
    }
  }
}

.timer {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__value {
    font-size: 3rem;
  }

  &__value,
  &__state {
    text-align: center;
    text-transform: capitalize;
  }
}

button,
.button {
  background: $background-color;
  color: $text-color;
  border: 0;
  margin: $margin-2 $margin;

  &--large {
    font-size: 1.5rem;
    margin: $margin-2;
    width: 64px;
    height: 64px;
    box-shadow: $bs-outter-lg $background-darker,
      $bs-inner-lg $background-lighter;
  }

  &--small {
    width: 36px;
    height: 36px;
    box-shadow: $bs-outter-sm $background-darker,
      $bs-inner-sm $background-lighter;
  }

  &--rounded {
    border-radius: 8px;
  }

  &--circle {
    border-radius: 50%;
  }

  &:hover {
    cursor: pointer;

    &--large {
      background: $background-gradient;
      box-shadow: $bs-outter-lg $background-darker,
        $bs-inner-lg $background-lighter;
    }

    &--small {
      background: $background-gradient;
      box-shadow: $bs-outter-sm $background-darker,
        $bs-inner-sm $background-lighter;
    }
  }

  &:active {
    &--large {
      box-shadow: inset $bs-outter-lg $background-darker,
        inset $bs-inner-lg $background-lighter;
    }

    &--small {
      box-shadow: inset $bs-outter-sm $background-darker,
        inset $bs-inner-sm $background-lighter;
    }
  }
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?pp6s63");
  src: url("../fonts/icomoon.eot?pp6s63#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?pp6s63") format("truetype"),
    url("../fonts/icomoon.woff?pp6s63") format("woff"),
    url("../fonts/icomoon.svg?pp6s63#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stop:before {
  content: "\e901";
}
.icon-play:before {
  content: "\e903";
}
.icon-pause:before {
  content: "\e905";
}
